// header
include main-menu
.page__header
	.main-header
		.main-header__left
			a(href="/").logo
				img(src="").logo__image
				.logo__desc Прочность.<br>Простота.<br>Надежность
		.main-header__right
			.contacts-block
				b +7-903-818-05-70
				span пн-пт 9:00–18:00
			.contacts-block
				b autovyborsale@bk.ru
				span Написать письмо


	.main-slider
