.page__menu
   .main-menu
      .menu-section
         span.menu-section__header Каталог товаров
         ul.menu-section__body
            li: a(href="#") Системы орошения
            li: a(href="#") Управлеие навозом
            li: a(href="#") Перекачивание жидкости
      .menu-section
         span.menu-section__header Каталог товаров
         ul.menu-section__body
            li: a(href="#") Системы орошения
            li: a(href="#") Управлеие навозом
            li: a(href="#") Перекачивание жидкости